@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@100;400;700&display=swap');
:root {
    --pink: #D26890;
    --red:#d10000;
    --orange:#fe6847;
    --yellow:#ffbf00;
    --darkgreen:#628B48;
    --lightgreen:#6AB547;
    --lightblue:#97D0E6;
    --darkblue:#16324f;
    --darkpurple:#610F7F;
    --lightpurple:#d098db;
    --gray: #ddd;
}

body {
    background-color: #111;
    background: url(bg-d.jpg) no-repeat center fixed;
    background-size: cover;
    color: #fff;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

main {
    margin-top: 80px;
    max-width: 100%;
    display: grid;
    place-content: center;
}

section {
    background-color: #000000cc;
    padding: 20px 20px 30px 20px;
}
.hero {
    height: 100vh;
    display: grid;
    place-content: center;
    background: none;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listen, 
.calendar, 
.contact {
    width: 75vw;
}

article {
    width: 33%;
    padding: 20px;
    line-height: 1.7em;
 }

 .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 iframe {
    margin: 20px;
    max-width: 600px;
 }

/* TYPOGRAPHY */
.title-home, 
.hero,
h1, 
h2 {
    font-family: 'Libre Baskerville', serif;
}

.hero, nav a {
    text-shadow: #000 0px 0px 10px;
}
.hero h1, h2 {
    margin: 0;
}
h1 {
    font-size: 40pt;
}

h3 {
    font-size: 1.6em;
}
/* LINKS */

a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

a:hover, a:focus {
    color: var(--pink);
}

nav a {
    color: inherit;
    padding: 10px;
    text-transform: uppercase;
}

/* IMAGES */

img {
    max-width: 100%;
}

section img {
    max-width: 500px;
}


.mt50 {
    margin-top: 50px;
}


/* CALENDAR */

.calendar {
    display: flex;
    margin: 20px 0;
}

.datetag {
    padding: 8px;
    margin: 30px 45px 20px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: var(--pink);
    text-align: center;
    height: fit-po
}
.date-month,
.date-day,
.date-time {
    margin: 2px;
}
.date-day {
    font-size: 2.3em;
    margin-bottom: 10px;
}


/* animation */
.starfirst{
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 571px 173px #fff, 2000px 143px #fff, 1745px 454px #fff, 234px 784px #fff, 1893px 1123px #fff, 1076px 504px #fff, 633px 601px #fff, 350px 630px #fff, 1164px 782px #fff, 76px 690px #fff;
    animation: animStar 50s linear infinite;
  }

  @keyframes animStar
  {
    0% {
      transform: translateY(0px);
  }
    100% {
      transform: translateY(-1000px);
  }
  }
  
  
  

@media screen and (max-width: 800px) {
    
    body {
        background: url(bg-mobile.jpg) no-repeat center fixed;
        background-size: cover;
        height: 100vh;
    }
    .header {
        position: relative;
        top: 0;
    }

    #about, body, nav, nav a{
        display: block;
    }

    #about{
        padding:2px;
    }

    nav a:hover {
        background-color: #000;
    }
    main, section {
        margin: 0;
        padding: 2px;
        width: 100vw;
        overflow: auto;
    }

    article, img {
        width: 100%;
    }

    .listen, 
    .calendar, 
    .contact {
        width: 100vw;
        padding-top: 15px;
    }

    iframe {
        max-width: 90%;
    }

.datetag {
    margin: 20px;
}
.date-month,
.date-day,
.date-time {
    font-size:0.7em;
}

}
